*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.createContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/blogBackground.webp);
    background-repeat:initial;
    background-size: cover;
}
.createContainer .addBox{
    width: 440px;
    padding: 20px 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    background-color: azure;
    box-shadow: 4px 4px 2px white;
}
.createContainer .addBox h1{
    text-align: center;
} 
.createContainer .addBox form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.createContainer .addBox form label{
    font-weight: bolder;
}
.createContainer .addBox form input{
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border-radius: 8px;
}
#addButton{
    width: 80px;
    margin: auto;
    margin-top: 5px;
    padding: 10px 10px;
    background-color: tomato;
    border: 1px solid tomato;
    font-weight: bolder;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
.createContainer .addBox p{
    text-align: center;
}
